section {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  height: calc(100dvh - 6rem);
  /* height: 100%; */
  /* background-color: red; */
}

.hero-content {
  width: 50%;
  /* height: 80%; */
}

.hero-content h1 {
  font-size: var(--font-size-xl);
}

.hero-content p {
  font-size: var(--font-size-l);
  /* padding: var(--padding) 0; */
  margin: 3rem 0;
}

.hero-image {
  width: 50%;
  position: relative;
  height: 100%;
  /* margin-left: 5rem; */
  /* background-color: red; */
}

.hero-image img {
  display: inline;
}
